body {
  font-family: 'Tahoma', sans-serif;
  width: 320px;
  padding: 12px 14px;
  color: #fff;
  background: #18181b;
  letter-spacing: 0.8px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

h1 {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  margin: 4px;
}

p {
  text-align: center;
  font-size: 14px;
  color: #a1a1aa;
  margin: 6px 0 18px;
}

label {
  font-size: 15px;
  display: inline-block;
  margin-bottom: 5px;
  line-height: 20px;
  font-weight: 500;
}

input {
  font-family: 'Tahoma', sans-serif;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  border: 2px solid #27272a;
  outline: none;
  color: #fff;
  background: #09090b;
  caret-color: #f4f4f5;
  padding: 8px 10px;
  line-height: 18px;
  transition: border 0.5s;
  letter-spacing: 0.8px;
}

#password {
  padding-right: 36px;
}

input:focus {
  border: 2px solid #f59e0b;
}

#buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#buttons button {
  height: 38px;
  font-family: 'Tahoma', sans-serif;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  width: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  outline: none;
  transition: background-color 0.3s;
  color: #e0e0e0;
  margin: 5px 2px;
  letter-spacing: 0.8px;
}

form,
form div,
form div input {
  width: 100%;
}

.login {
  background-color: #cd8d1a;
}

.login:focus {
  background-color: #e08c09;
}

.login:hover {
  background-color: #d98208;
}

.login:active {
  background-color: #bf7507;
}

.logout {
  background-color: #c0392b;
}

.logout:focus {
  background-color: #ad3326;
}

.logout:hover {
  background-color: #9a2d21;
}

.logout:active {
  background-color: #87271c;
}

.login:disabled,
.logout:disabled {
  background-color: #666;
}

.pwd {
  position: relative;
  width: 100%;
}

svg {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  fill: #999;
}

svg:hover {
  fill: #ccc;
}

#visible {
  display: none;
}

.asterisk {
  color: #ef4444;
}

#info {
  margin-top: 4px;
  color: #a1a1aa;
}

#state {
  text-align: center;
  font-size: 14px;
  margin: 0px;
}

#timer {
  text-align: center;
  font-size: 14px;
  margin-top: 3px;
}
